.form-number {
    margin-right: 10px;
}

.chat {
  margin-top: 20px;
}

.chat-entry {
  margin: 10px;
  padding: 10px;
  background-color: rgb(214, 219, 219);
  font-size: 20px;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.chat-field {
  border-radius: 5px;
  min-width: 1000px;
  min-height: 50px;
  font-size: 20px;
}

.chat-send {
  border-radius: 5px;
  background-color: mediumpurple;
  color: ghostwhite;
  min-width: 30px;
  font-size: 20px;
}
